.app_dusk_serenity_theme {
  --bg-color: #2e3b4e;
  --inverted-bg-color: #bfc3ca;
  --primary-color: #2baed9;
  --secondary-color: #889ca6;
  --inverted-primary-color: #495d66;
  --inverted-secondary-color: #718291;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code block
  --code-bg: #42454b;
}