.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #417dff;
  --secondary-color: #98b8ff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code block
  --code-bg: #a9a9ad;

  // card
  --card-bg: #b1b1b4;
}
