.ArticleDetailsPage {
  width: 100%;
}

.commentsTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.commentsList {
  margin-top: 20px;
}

.recommendationsTitle {
  margin: 20px 0;
}

.recommendations {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}